.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: #3b3c43;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 999;
}

.header .brand {
    display: flex;
    /* width: 70%; */
}

.header .brand img {
    height: 35px;
    width: auto;
}

.header .brand .event {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #ffffff;
    text-transform: uppercase;
    font-family: synchronysans-bold;
}

.header .searchContainer{
    position: relative;
    width: 250px;
    margin-left: -100px;
}

@media (max-width: 1200px) {
    .header .searchContainer{
        margin-left: 0vw;
    }
}

.header .searchContainer .searchIcon{
    position: absolute;
    top: 20%;
    left: 0;
    height: 15px;
    width: auto;
}

.header .searchContainer .spiner{
    position: absolute;
    top: 15%;
    right: 0;
    height: 15px;
}

.header .searchContainer input[type="text"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: synchronysans;
    padding-left: 20px;
}

.header .searchContainer input[type="text"]::placeholder{
    color: white;
}

.header .searchContainer .searchResults{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px #dddddd;
    max-height: 300px;
    overflow-y: auto;
}


/* Scrollbar */
/* width */
.header .searchContainer .searchResults::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .header .searchContainer .searchResults::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
  }
  
  /* Handle */
  .header .searchContainer .searchResults::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .header .searchContainer .searchResults::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7;
  }

.header .searchContainer .searchResults .result{
    padding: 5px;
    cursor: pointer;
    font-family: synchronysans;
    display: flex;
    align-items: center;
    color: #3b3c43;
}

.header .searchContainer .searchResults .result:hover{
    background-color: #dadcda;
}

.header .searchContainer .searchResults .result .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.searchResultsHide{
    display: none;
}

.rightSide{
    display: flex;
    align-items: center;
}

.rightSide .welcomeText {
    text-transform: uppercase;
    margin-right: 10px;
    color: white;
}

.header .burgerBtn {
    border: none;
    background-color: transparent;
}

.header .burgerBtn:focus {
    border: none;
    outline: none;
    background-color: transparent;
}

.header .burgerBtn>div {
    height: 3px;
    width: 20px;
    background-color: white;
}

.header .burgerBtn>div:nth-child(2) {
    margin: 3px 0px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #94969a;
    /* background-color: #3b3c43; */
    z-index: 99;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
}

.menuActive {
    transform: translateX(0%);
}

.backDrop {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: none;
    z-index: 98;
}

.backDropActive {
    display: block;
}

.menu .top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: synchronysans-medium;
    color: white;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 18px;
}

.menu .top .closeBtn {
    border: none;
    background-color: transparent;
    padding: 0px 30px;
}

.menu .top .closeBtn {
    border: none;
    outline: none;
    background-color: transparent;
}

.menu .top .closeBtn>div {
    height: 3px;
    width: 20px;
    background-color: white;
}

.menu .top .closeBtn>div:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
    transform-origin: center;
}

.menu .top .closeBtn>div:nth-child(2) {
    transform: rotate(-45deg);
    transform-origin: center;
}

.menu .menuItems {
    text-align: right;
}

.menu .menuItem {
    list-style: none;
    font-family: synchronysans-bold;
    color: white;
    font-size: 15px;
    margin-bottom: 35px;
    margin-right: 80px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.menu .menuItem:hover {
    border-bottom: 2px solid #c63527;
}

.menu .menuItem a {
    color: white;
    display: flex;
    justify-content: flex-end;
}

/* Scrollbar */

/* width */

.menu::-webkit-scrollbar {
    width: 8px;
}

/* Track */

.menu::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}

/* Handle */

.menu::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 10px;
}

/* Handle on hover */

.menu::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7;
}
