.mainContainer {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.loginContainer {
    margin: 50px 100px;
    flex: 1;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

.leftSideConatiner {
    flex: 1;
    height: 100%;
    background-color: #f0575d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSideContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100%;
}

/* .mainContainer .rightSideContainer input[type="text"],
.mainContainer .rightSideContainer input[type="password"] {
  color: #3b3c43;
  padding: .5rem;
} */

.mainContainer .rightSideContainer button {
    color: white;
    background-color: #3b3c43;
    border: none;
    text-transform: uppercase;
    width: 14rem;
    height: 50px;
    font-weight: 600;
}

.externalLoginHeader {
    text-transform: uppercase;
    font-weight: bold;
    color: #3b3c43;
    font-size: 2rem;
    margin-bottom: 0;
}

.formControl {
    padding: 0px;
}