.formContainer {
  padding: 0 2.4rem;
  display: flex;
  flex-flow: column nowrap;
}

.rowContainer {
  margin-top: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1;
}

.sectionContainer {
  padding: 1.2rem 0;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 100%;
}