.resourceNotFoundContainer {
    margin-top: 40vh;
    text-align: center;
    height: 90vh;
    font-size: 30px;
    font-family: synchronysans-bold;
}
.homeLink {
    font-family: synchronysans;
    color: grey;
    font-size: 20px;
}