.icon {
  font-size: 2rem;
}

.spinnerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 70px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.loader div:nth-child(1) {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 18px;
  background-color: #fbc600;
  -webkit-animation: animate-left-bar 1.5s ease-out infinite alternate;
  animation: animate-left-bar 1.5s ease-out infinite alternate;
  -moz-animation: animate-left-bar 1.5s ease-out infinite alternate;
  -ms-animation: animate-left-bar 1.5s ease-out infinite alternate;

}

.loader div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 18px;
  background-color: #fbc600;
  -webkit-animation: animate-middle-bar 1.5s ease-out infinite alternate;
  animation: animate-middle-bar 1.5s ease-out infinite alternate;
  -moz-animation: animate-middle-bar 1.5s ease-out infinite alternate;
  -ms-animation: animate-middle-bar 1.5s ease-out infinite alternate;
}

.loader div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
  height: 50%;
  width: 18px;
  background-color: #fbc600;
  -webkit-animation: animate-right-bar 1.5s ease-out infinite alternate;
  animation: animate-right-bar 1.5s ease-out infinite alternate;
  -moz-animation: animate-right-bar 1.5s ease-out infinite alternate;
  -ms-animation: animate-right-bar 1.5s ease-out infinite alternate;
}

/* key frames */
@-webkit-keyframes animate-left-bar {
  0% {
    bottom: -50%;
  }

  10% {
    bottom: -50%;
  }

  30% {
    bottom: 0%;
  }

  100% {
    bottom: 0%;
  }
}

@keyframes animate-left-bar {
  0% {
    bottom: -50%;
  }

  10% {
    bottom: -50%;
  }

  30% {
    bottom: 0%;
  }

  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes animate-middle-bar {
  0% {
    top: 100%;
  }

  20% {
    top: 100%;
  }

  40% {
    top: 0%;
  }

  100% {
    top: 0%;
  }
}

@keyframes animate-middle-bar {
  0% {
    top: 100%;
  }

  20% {
    top: 100%;
  }

  40% {
    top: 0%;
  }

  100% {
    top: 0%;
  }
}

@-webkit-keyframes animate-right-bar {
  0% {
    top: 100%;
  }

  30% {
    top: 100%;
  }

  50% {
    top: 0%;
  }

  100% {
    top: 0%;
  }
}

@keyframes animate-right-bar {
  0% {
    top: 100%;
  }

  40% {
    top: 100%;
  }

  50% {
    top: 0%;
  }

  100% {
    top: 0%;
  }
}